
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-size: 3rem;
}

.flex-bar {
    background-color: #cc2828;
    color: rgb(32, 10, 10);
    display: flex;
    flex-direction: column;
  
}

.menu {
    padding: 5px;
    flex-grow: 1;
}

@media (max-width: 640px) {
    body {
        flex-direction: column-reverse;
    }
   .menu>h5 {
        flex-direction: row;
        justify-content: space-evenly;
    }
}